@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
}
